<div class="container main-content profile-detail clinics">
  <h2 class="text-center">
      <%= clinic.name %>
  </h2>
  <div class="tickets-list">
    <div class="tickets-holder tickets-holder-centered">
      <div class="tickets">
        <div class="text-center clinic-photo ">
          <img src="<%= clinic.photo %>" alt="" class="mb2">
        </div>
        <div class="tickets-content">
          <p>
            Precio:
            <%= clinic.rate %> €/hora</p>
          <p>
            Teléfono:
            <%= clinic.phone %>
          </p>
          <p>
            nº id:
            <%= clinic.identification %>
          </p>
          <p>
            <%= clinic.email%>
          </p>
          <p>
            Especialidad:
            <%= clinic.specility%>
          </p>
          <p>
            Orientación:
            <%= clinic.orientation%>
          </p>
          <p>
            Tipología de paciente:
            <%= clinic.target%>
          </p>
          <p>
            <%= clinic.address%> -
              <%= clinic.city%>
          </p>
          <p>
            <%= clinic.detail%>
          </p>
          <a href="#">
            <%= clinic.website%>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <ul class="tickets-list">
      <% for (i=0; i<clinic.psychologist.length; i++) { %>
        <li class="tickets-holder">
          <div class="tickets tickets-flex">
            <div>
              <img src="<%= clinic.psychologist[i].photo %>" alt="" class="mb2">
            </div>
            <div class="tickets-content">

              <h3 class="mb1">
                <%= clinic.psychologist[i].name %>
            </h3>
              <p class="mb1">
                <%= clinic.psychologist[i].mail %>
              </p>
              <p class="mb1">
                <%= clinic.psychologist[i].address %>
              </p>
              <p class="mb1">
                <%= clinic.psychologist[i].city %>
              </p>
            </div>
          </div>
        </li>
        <%  } %>
    </ul>
  </div>
  <div class="comments">
    <% if(Object.keys(clinicComments).length !== 0) {%>
      <h3 class="mb2 text-center">Comentarios</h3>
      <ul class="mb4">
        <% clinicComments.forEach(comment => { %>

          <li class="comment mb2">
            <p>
              <%= comment.comment %>
            </p>
            <p>
              <%= comment.author_id.name %>
            </p>
          </li>
          <%  }) %>
            <%  } %>
      </ul>
      <% if (user.role==="patient"){ %>
        <form action="/c_profile?id=<%= user._id %>" method="POST">
          <h3 class="mb2">Añadir comentario</h3>
          <textarea name="description" id="comment" autofocus class="form-control mb4"></textarea>

          <input type="hidden" id="receptor" name="idUser" value="<%= clinic._id %>">
          <input type="hidden" id="creador" name="idUserLogged" value="<%= userLogged %>">
          <button type="submit" class="btn btn-primary btn-lg">Enviar Comentario</button>
        </form>
        <% } %>
  </div>
</div>
<!--  Muestra la opción de comentar si eres un usuario que estas logeado-->
