<div class="container main-content">
  <h2 class="text-center">
      <%= clinic.name %>
  </h2>
  <div class="tickets-list">
    <div class="tickets-holder block-centered">
      <div class="tickets">
        <div class="text-center">
          <img src="http://comunicaciones.uc.cl/wp-content/uploads/comunicaciones/2014/09/ingrid_bachmann.jpg" alt="" class="rounded mb2">
        </div>
        <div class="tickets-content">
          <p>
            Precio:
            <%= clinic.rate %> €/hora</p>
          <p>
            Teléfono:
            <%= clinic.phone %>
          </p>
          <p>
            nº id:
            <%= clinic.identification %>
          </p>
          <p>
            <%= clinic.email%>
          </p>
          <p>
            Especialidad:
            <%= clinic.specility%>
          </p>
          <p>
            Orientación:
            <%= clinic.orientation%>
          </p>
          <p>
            Tipología de paciente:
            <%= clinic.target%>
          </p>
          <p>
            <%= clinic.address%> -
              <%= clinic.city%>
          </p>
          <p>
            <%= clinic.detail%>
          </p>
          <p>
            Psicólogos asociados:
          </p>
          <a href="#">
            <%= clinic.website%>
          </a>
        </div>
      </div>
    </div>
  </div>
  <% if (user.role==="patient"){ %>
    <form action="/c_profile?id=<%= user._id %>" method="POST">
      <h3 class="mb2">Comentarios</h3>
      <div class="paper">
        <div class="paper-content">
          <textarea autofocus name="description" id="comment" class="mb2">Hello world !&#10;Here's a paper textarea tag.</textarea>
        </div>
      </div>
      <input type="hidden" id="receptor" name="idUser" value="<%= user._id %>">
      <input type="hidden" id="creador" name="idUserLogged" value="<%= userLogged %>">
      <button type="submit" class="btn btn-primary btn-lg">Enviar Comentario</button>
    </form>
    <% } %>
</div>


<p>PSICOLOGOS ASOCIADOS A ESTA CLINICA</p>
<div class="">
<ul>
  <% for (i=0; i<clinic.psychologist.length; i++){ %>
    <li>
      <%= clinic.psychologist[i].photo %>
      <%= clinic.psychologist[i].name %>
      <%= clinic.psychologist[i].phone %>
      <%= clinic.psychologist[i].email %>
    </li>
    <%  } %>
</ul>

</div>
<!--  Muestra la opción de comentar si eres un usuario que estas logeado-->
