<p>PERFIL INDIVIDUAL DE LA CLINICA</p>


<!--  Hay que pasarle como parametro users a un único psicologo
para que pinte su perfil-->
<div class="">

<p><%= clinic.name %></p>
<p><%= clinic.role %> - <%= clinic.rate %> €/hora</p>
<p><%= clinic.identification %></p>
<p><%= clinic.email%></p>
<p><%= clinic.address%> - <%= clinic.city%></p>
<p><%= clinic.detail%></p>

</div>

<!--  Muestra la opción de comentar si eres un usuario que estas logeado-->

<% if (user.role==="patient"){ %>
<form action="/c_profile?id=<%= user._id %>" method="POST">
  <p><label for="comment">Comentarios</label></p>
  <textarea name="description" id="comment"></textarea>
  <input type="hidden" id="receptor" name="idUser" value="<%= user._id %>">
  <input type="hidden" id="creador" name="idUserLogged" value="<%= userLogged %>">
  <p><button type="submit">Enviar Comentario</button></p>
</form>
<% } %>
