<div class="home">
  <div class="container">
    <div>
      <h2>Descubre Psicologist</h2>
      <div class="services-holder">

        <a href="/psychologists" class="services">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTykTjTRRXKlwkTr_Fi8-Me9GyM8d4iekE5llOzOASo6M0p1YQO" alt="">
      <span>Psicólogos</span>
      </a>

        <a href="/clinics" class="services">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTykTjTRRXKlwkTr_Fi8-Me9GyM8d4iekE5llOzOASo6M0p1YQO" alt="">
      <span>Clínicas de Psicología</span>
      </a>
      </div>
    </div>
  </div>

<h1><%= title %></h1>
<p>Welcome to
  <%= title %>
</p>
<% if(!user){ %>
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">signup</a></li>
  </ul>
  <% }else{ %>
    <a href="/logout">Logout <%= user.username %></a>
    <% } %>
      <div class="container">
        <form action="">
          <div class="form-group">
            <label for="">¿En qué podemos ayudarte?</label>
            <input type="search" class="form-control">
          </div>
        </form>
      </div>

      <iframe
          width="350"
          height="430"
          src="https://console.dialogflow.com/api-client/demo/embedded/b0eeeeb8-c765-47cc-9939-71f2f2cdb3d7">
      </iframe>

      
      <div class="">
        <p>TOP PSICOLOGOS</p>
        <% users.forEach((psychologist) => { %>
          <p>
            <% if(psychologist.role === "psychologist") {%>
            <%= psychologist.name %>
            <a href="/p_profile/<%= psychologist._id %>">View Profile</a>
          </p>
        <% }}); %>
      </div>

<div class="">
  <p>TOP CLINICAS DE PSICOLOGIA</p>
  <% users.forEach((clinic) => { %>
    <p>
      <% if(clinic.role === "clinic") {%>
      <%= clinic.name %>
      <a href="/c_profile/<%= clinic._id %>">View Profile</a>
    </p>
  <% }}); %>
</div>
