<div class="home">
  <div class="container">
    <div>
      <h2>Descubre Psicologist</h2>
      <div class="services-holder">

        <a href="/psychologists" class="services">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTykTjTRRXKlwkTr_Fi8-Me9GyM8d4iekE5llOzOASo6M0p1YQO" alt="">
      <span>Psicólogos</span>
      </a>

        <a href="/clinics" class="services">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTykTjTRRXKlwkTr_Fi8-Me9GyM8d4iekE5llOzOASo6M0p1YQO" alt="">
      <span>Clínicas de Psicología</span>
      </a>
      </div>
    </div>
    <div class="home-list-holder">
      <h2>TOP PSICOLOGOS</h2>
      <ul class="row home-list">

        <% users.forEach((psychologist) => { %>

          <% if(psychologist.role === "psychologist") {%>
            <li class="user-home col-sm-6 col-md-3">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTykTjTRRXKlwkTr_Fi8-Me9GyM8d4iekE5llOzOASo6M0p1YQO" alt="">
              <h3>
                <%= psychologist.name %>
              </h3>
              <p>
                <%= psychologist.address %>
              </p>
              <p>
                <%= psychologist.city %>
              </p>
              <a href="/p_profile/<%= psychologist._id %>">View Profile</a>
            </li>
            <% }}); %>

      </ul>

    </div>
    <div class="home-list-holder">
      <h2>TOP CLINICAS DE PSICOLOGIA</h2>
      <ul class="row home-list">

        <% users.forEach((clinic) => { %>
          <% if(clinic.role === "clinic") {%>
            <li class="user-home col-sm-6 col-md-3">
              <img src="http://www.siquia.com/wp-content/uploads/2015/07/colores-despacho-psicologo.jpg" alt="">
              <h3><%= clinic.name %></h3>
              <p>
                <%= clinic.address %>
              </p>
              <p>
                <%= clinic.city %>
              </p>
              <a href="/c_profile/<%= clinic._id %>">View Profile</a>
            </li>
            <% }}); %>
    </div>
  </div>
