<p>PERFIL INDIVIDUAL DEL PSICOLOGO</p>


<!--  Hay que pasarle como parametro users a un único psicologo
para que pinte su perfil-->
<div class="">

<p><%= user.name %></p>
<p><%= user.role %> - <%= user.rate %> €/hora</p>
<p><%= user.identification %></p>
<p><%= user.email%></p>
<p><%= user.address%> - <%= user.city%></p>
<p><%= user.detail%></p>

</div>
