<div class="container main-content">
  <h2>Listado de clínicas</h2>
  <ul class="tickets-list">
    <% users.forEach((e) => { %>
      <% if(e.validation === true) { %>
        <li class="tickets-holder">
          <div class="tickets tickets-flex">
            <div>
              <img src="http://comunicaciones.uc.cl/wp-content/uploads/comunicaciones/2014/09/ingrid_bachmann.jpg" alt="" class="rounded">
            </div>
            <div class="tickets-content">
              <h3 class="mb1">
              <%= e.name %>
            </h3>
              <p class="mb1">
                <%= e.address %>
              </p>
              <p class="mb1">
                <%= e.city %>
              </p>
              <a href="/c_profile/<%= e._id %>" class="mb1">Pefil</a>
              <form action="/psychologists" method="post" class="text-right">
                <input type="hidden" name="id" value="<%= e._id %>">
              </form>
            </div>
        </li>
        <% } %>
          <%})%>
  </ul>
  </div>
