<div class="container main-content psychologists">
  <h2>Psicólogos</h2>
  <ul class="tickets-list">
    <% users.forEach((e) => { %>
      <% if(e.validation === true) { %>
        <li class="tickets-holder tickets-holder-list">
          <div class="tickets tickets-flex">
            <div>
              <img src="<%= e.photo %>" alt="" class="mr2">
            </div>
            <div class="tickets-content">
              <h3 class="mb1">
                <%= e.name %>
              </h3>
              <p class="mb1">
                <%= e.address %>
              </p>
              <p class="mb1">
                <%= e.city %>
              </p>
              <a href="/p_profile/<%= e._id %>" class="pb1">Pefil</a>
              <% if(user.role === "clinic"){ %>
                <form action="/psychologists" method="post" class="mt1">
                  <input type="hidden" name="id" value="<%= e._id %>">
                  <button class="btn btn-primary">Add</button>
                </form>
                <% } %>
            </div>
          </div>
        </li>
        <% } %>
          <%})%>
  </ul>
</div>
